.clock-time {
  background-color: DodgerBlue;
  display: inline-block;
  color: PapayaWhip;
}

.McSpicyFont {
  font-family: 'Gloria Hallelujah', cursive;
  border: 3px solid Indigo;
  background: LightCyan;
  width: 500px;
  padding: 10px;
}

.flexfrog {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 300px;
  justify-content: space-around;
  /* border: 4px solid maroon; */
  padding-inline-start: 0px;
}

.flexfrog h1 {
  border: 3px solid maroon;
  height: 100%;
  width: 33%;
  margin: 0px;
}
